@font-face{
	font-family: myHelvetica;
	src: url(resources/font/Helvetica.ttf);
}

/*--- STYLE FOR THE CHEVRON IMAGE --*/
#navdrpd{
	background: url(resources/images/dropdownsc.png);
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 30px;
	border-radius:100%;
}
/*----------------------------------*/


/*---   SETS OTHER TEXT TO BLUE   --*/
#bluetext{
	color: #3badf3;
}
/*----------------------------------*/


/*---       FIRST COLUMN          --*/  
#fcontents{
	margin: 5.25px auto auto;
	padding-right: 10%;
	top:0; left:0; bottom:0; right:0;
}

.bird_icon i{
	margin-bottom: 15px;
	color: dodgerblue;
}

#usericonnavpic{
	width:40px;
	margin-right: 0.5em; 
}

#usericonnav p{
	font-size: 13px;
	margin-bottom: 0; 
	background: white;
} 

#usericonnav a{
	color: #14171a;
}

#usericonnav{
	position: fixed;
 	bottom:5px;
 	width: 12em;
}

#sidenavsmall #usericonnav{
 	margin: 0px 0px 0px 10px;
}

#sidenavbig #usericonnav{
 	margin: 0px 0px 0px 25px;
}

#first_col_b{
	margin-left: 15px;
	width: 25px;
	height: 25px;
	border: none;
	padding-left: 35px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

#sidenavsmall #first_col_b{
	padding-top: 2px;
}

#sidenavbig #first_col_b{
	font-weight: bold;
	font-size: 17.5px;
	color: #14171a;
}

.sidehome{
	background: url(resources/images/homesc.png);
}

.sidenotif{
	background: url(resources/images/bellsc.png);
}

.sideexplore{
	background: url(resources/images/hashtagsc.png);
}

.sidemsgs{
	background: url(resources/images/envsc.png);
}

.sidebook{
	background: url(resources/images/ribbonsc.png);
}

.sidelist{
	background: url(resources/images/papersc.png);
}

.sideprofile{
	background: url(resources/images/avatarsc.png);
}

.sidemore{
	background: url(resources/images/moresc.png);
}

#sidenavbig .tweetbtn{
 	background: #1da1f2;
 	font-weight: bold;
	font-size: 0.85em;
	color: white;
	border-radius: 70px;
	border:none;
	margin-left: 18px;
	text-align: center;
	width: 13em;
	height: 3em;
}

#sidenavsmall .tweetbtn{
 	background-image: url(resources/images/compose.png);
 	width: 35px;
 	height:35px;
 	background-size: 35px 35px; 
	background-color: transparent;
	margin-left: 10px;
	border:none;
	background-position: center;
	background-repeat: no-repeat;
}
/*----------------------------------*/


/*---       SECOND COLUMN         --*/
.second_col{
	border-left: 1px solid#e6ecf0;
	border-right: 1px solid#e6ecf0;
}

#first_row{
	height: 53px;
	font-weight: 800;
	font-size: 20px;
	border-bottom: 1px solid#e6ecf0;
	background: white;
}

.navbar-brand img{
	width: 30px;
	border-radius: 50%;

}

#contentsettings{
	background: url(resources/images/contentsettings.png);
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin:8px 0px;
}

#tweetbox{
 	margin-top: 16px;
 	width:100%;
 	font-size: 1.1em;
 	border:none;
}

textarea[name=tweetfield]{
	resize: none;
	height: 4em;
}

#twtattach #tweetdone{
	background: #1da1f2;
 	font-weight: bold;
	font-size: 0.85em;
	color: white;
	border-radius: 50px;
	border:none;
	margin-left: 18px;
	text-align: center;
	width: 6em;
	height: 2em;
}

.tbimage{
 	background: url(resources/images/tbimage.png);
 	margin-left: 4em;
}

.tbgif{
 	background: url(resources/images/tbgif.png);
 	margin-left: 0.80em;
}

.tbpoll{
 	background: url(resources/images/tbpoll.png);
 	margin-left: 0.80em;
}

.tbemoji{
 	background: url(resources/images/tbemoji.png);
 	margin-left: 0.80em;
}

.tbsched{
 	background: url(resources/images/tbsched.png);
 	margin-left: 0.80em;
}

.media-body p{
 	font-size: 15px;
}

.media-body a{
 	color: #14171a;
}

#usericon{
 	width:49px;
}

.tweetimage{
 	width: 100%;
 	height: auto;
 	max-width: 100%;
 	margin-bottom: 5px;
}

#twtactions{
	width: 20px;
	height: 20px;
	border: none;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

#tweetactionscontainer{
	padding-top: none;
}

.comment{
 	background: url(resources/images/commentsc.png);
}

.retweet{
 	background: url(resources/images/retwtsc.png);
}

.like{
 	background: url(resources/images/likesc.png);
}

.share{
 	background: url(resources/images/sharesc.png);
}
/*----------------------------------*/


/*---       THIRD COLUMN          --*/
#searchboxcontainer{
	height: 53px;
	background-color: white;
}

#searchbox{
 	background-image: url(resources/images/searchsc.png);
	background-size: 15px 15px; 
	background-position: 5%;
	background-repeat: no-repeat;
	font-size: 1em;
	background-color: #e6ecf0;
	border:none;
	border-radius: 70px; 
	padding-left: 15%;
	width: 90%;
	height: 36px;
}

#trendtext a{
 	color: #14171a;
}

.trendcontainer{
 	background-color: #f5f8fa;
 	margin: 1em 0px 1em 1em;
 	width: 85%;
 	border-radius: 20px;
}

#headertext{
	margin-top: 0.5em;
	font-weight: 800;
	font-size: 18px;
}

#settingsdrpd{
	margin-top: 0.6em;
	background: url(resources/images/settings.png);
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.whotofollow{
	background-color: #f5f8fa;
 	margin: 1em 0px 1em 1em;
 	width: 85%;
 	border-radius: 20px;
}

#tofollowiconpic{
	width:55px;
	margin-right: 0.5em; 
}

#tofollowicon p{
	font-size: 16px;
	margin-bottom: 0; 
} 

#tofollowicon a{
	color: #14171a;
}

#followbtn{
	background-color: #f5f8fa;
	border-color: #1da1f2;
 	font-weight: bold;
	color: #1da1f2;
	border-radius: 50px;
	padding: 0.1em 0.7em;
	text-align: center;
}

.footertext{
	margin: 1em 0 1em 2em;
}

.footertext a, .footertext p{
	font-size: small;
}
/*----------------------------------*/